<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>textEm</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/inboxapp.js"></script>
  </head>

  <body>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="http://localhost:3000">Home</a></li>
      <li role="presentation"><a href="http://localhost:3000/inbox">Inbox</a></li>
      <li role="presentation"><a href="http://localhost:3000/messages">Create a New Message</a></li>
    </ul>
    <!-- BEGIN FORM SAMPLE -->

    <section id='message-form' class="container">

          <!-- Form Name -->
      <legend>Welcome!</legend>
        <!-- Textarea -->
        <div id='message'>
          <script id="message-template" type="text/x-handlebars-template">
            {{#each messages}}

            <table style="width: 100%">
              <tbody>
              <tr>
                <td><strong>FROM</strong></td>
                <td><strong>SENT TO</strong></td>
                <td><strong>MESSAGE</strong></td>
                <td><strong>DATE SENT</strong></td>
                <td><strong>DELETE</strong></td>
                <td><strong>EDIT</strong></td>
              </tr>
                <td>{{user}}</td>
                <td>{{recipients.0.number}}</td>
                <td>{{bodyText}}</td>
                <td>June, 29, 1841</td>
                <td><button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button></td>
                <td><button type-"button" class="btn btn-info edit-messages pull-right" data-toggle="modal" data-target="#myModal" data-id={{_id}}>Edit Messages</button></td>
              </tbody>
            </table>
            {{/each}}
          </script>
        </div>
    </section>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Saved Message</h4>
          </div>
          <div class="modal-body">
            <form id="edit-form" class="horizontal">
              <div class="form-group">
                <label for="from">From:</label>
                <input type="text" name="from" placeholder="Your name" id="fromInput">
              </div>
              <div class="form-group">
                <label for="to">To:</label>
                <input type="text" name="to" placeholder="Enter in a number" id="recipientInput">
              </div>
              <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" name="bodyText" rows="5" id="messageInput"></textarea>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="buttonSaved" data-id="">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
