<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyText</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/inboxapp.js"></script>
  </head>

  <body>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="http://localhost:3000">Home</a></li>
      <li role="presentation"><a href="http://localhost:3000/inbox">Inbox</a></li>
      <li role="presentation"><a href="http://localhost:3000/messages">Create a New Message</a></li>
    </ul>
    <!-- BEGIN FORM SAMPLE -->

    <section id='message-form' class="container">
      <div class="row">
          <form class="form-horizontal">
                <!-- Form Name -->
            <legend>Welcome!</legend>
              <!-- Textarea -->
            <div id='message'>
              <script id="message-template" type="text/x-handlebars-template">
                {{#each messages}}

                <table style="width: 100%">
                  <tbody>
                  <tr>
                    <td><strong>SENT TO</strong></td>
                    <td><strong>MESSAGE</strong></td>
                    <td><strong>DATE SENT</strong></td>
                    <td><strong>DELETE</strong></td>
                  </tr>
                  <div class="row">
                    <td>{{recipients.0.name}}</td>
                    <td>{{bodyText}}</td>
                    <td>June, 29, 1841<td>
                    <td>
                    <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button></td>
                  </div>
                </tbody>
                </table>
                {{/each}}
              </script>
            </div>
          </form>
      </div>
    </section>
  </body>
</html>
