<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyText</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="http://localhost:3000">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="http://localhost:3000/messages">Messages</a></li>
    </ul>
    <div class="jumbotron">
      <div class="container">
        <h1>textEm</h1>
        <p>Hello!</p>
      </div>
    </div>
    <!-- BEGIN FORM SAMPLE -->

        <section id='album-form' class="container">
          <div class="row">
          <!-- <div class="col-md-10 col-md-offset-1"> -->

            <form class="form-horizontal">
              <fieldset>

                <!-- Form Name -->
                <legend>Welcome!</legend>

                <!-- Textarea -->
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="http://localhost:3000/messages/">Text Message (SMS)</a></li>
                      <li><a href="#">Voice Call</a></li>
                    </ul>
                </div>
            </form>
            <div class="row">
              <div class="information col-md-6">
                <p>Qui id quod purto nonumy, in vim enim laudem luptatum, at mel regione oblique vituperata. Qui suscipit sadipscing ad. An novum aliquip consectetuer per, nonumy impetus admodum in qui, alia stet ad has. Cu decore malorum sea, natum ignota eam eu, cu eam porro inermis. Nibh dicam cetero mea ut. Pri ea oratio deserunt, sed ea option omnesque adipiscing, singulis delicata facilisis in ius. Falli cetero cu pro, ne soleat eleifend has, in eum lorem nonumy.
                </p>
              </div>
              <div class="information col-md-6">
                <p>Vix id dicat audire periculis, te eos dolorem facilisis. Ea sea tale tation, putent essent splendide te nec. Summo debitis ex vix, no vocibus platonem efficiantur nam, quot nobis electram at duo. Quot commodo his te. Usu habeo numquam interpretaris ei, an denique gloriatur per.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="information col-md-6">
                <p>Qui id quod purto nonumy, in vim enim laudem luptatum, at mel regione oblique vituperata. Qui suscipit sadipscing ad. An novum aliquip consectetuer per, nonumy impetus admodum in qui, alia stet ad has. Cu decore malorum sea, natum ignota eam eu, cu eam porro inermis. Nibh dicam cetero mea ut. Pri ea oratio deserunt, sed ea option omnesque adipiscing, singulis delicata facilisis in ius. Falli cetero cu pro, ne soleat eleifend has, in eum lorem nonumy.
                </p>
              </div>
              <div class="information col-md-6">
                <p>Vix id dicat audire periculis, te eos dolorem facilisis. Ea sea tale tation, putent essent splendide te nec. Summo debitis ex vix, no vocibus platonem efficiantur nam, quot nobis electram at duo. Quot commodo his te. Usu habeo numquam interpretaris ei, an denique gloriatur per.
                </p>
              </div>
            </div>
      </div>
    </section>
  </body>
</html>
