<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">

/***********************************************
* Drop Down Date select script- by JavaScriptKit.com
* This notice MUST stay intact for use
* Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and more
***********************************************/

      var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

      function populatedropdown(dayfield, monthfield, yearfield){
      var today=new Date()
      var dayfield=document.getElementById(dayfield)
      var monthfield=document.getElementById(monthfield)
      var yearfield=document.getElementById(yearfield)
      for (var i=0; i<31; i++)
      dayfield.options[i]=new Option(i, i+1)
      dayfield.options[today.getDate()]=new Option(today.getDate(), today.getDate(), true, true) //select today's day
      for (var m=0; m<12; m++)
      monthfield.options[m]=new Option(monthtext[m], monthtext[m])
      monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
      var thisyear=today.getFullYear()
      for (var y=0; y<20; y++){
      yearfield.options[y]=new Option(thisyear, thisyear)
      thisyear+=1
      }
      yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
      }

    </script>

    <title>textNow</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../scripts/messageapp.js"></script>
  </head>

  <body>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/inbox">Inbox</a></li>
      <li role="presentation"><a href="/messages">Create a New Message</a></li>
    </ul>
    <div class="jumbotron">
      <div class="container" id="send_message">
      </div>
    </div>
    <!-- BEGIN FORM SAMPLE -->

    <section class="container">
      <h1>Send a message</h1>
      <form id='inbox-form' class="form-horizontal">

        <div class="col-md-6 col-md-offset-3">
          <div class="form-group">
            <label for="user">Name:</label>
            <input type="text" name="user" class="input-md" placeholder="Enter your name" id="nameInput">
          </div>
          <div class="form-group">
            <label for="from">From:</label>
            <input type="text" name="from" class="input-md" placeholder="Enter your number" id="numberInput">
          </div>
          <div class="form-group">
            <label for="to">To:</label>
            <input type="text" name="to" class="input-md" placeholder="Enter in recipient's name" id="recipientNameInput">
          </div>
          <div class="form-group">
            <label for="to">Number:</label>
            <input type="text" name="number" class="input-md" placeholder="Enter in recipient's number" id="recipientInput">
          </div>
      <!-- <div class="row"> -->
            <!-- </div> -->
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" name="bodyText" rows="5" id="message"></textarea>
          </div>

      <!-- MONTH, DAY, YEAR DROPDOWN OPTION -->
          <div class="col-md-offset-3 col-md-6">
            <form action="" name="someform">
              <select id="daydropdown">
              </select>
              <select id="monthdropdown">
              </select>
              <select id="yeardropdown">
              </select>
            </form>
          </div>
          <script type="text/javascript">

            //populatedropdown(id_of_day_select, id_of_month_select, id_of_year_select)
            window.onload=function(){
              populatedropdown("monthdropdown", "daydropdown", "yeardropdown")
            }
          </script>
          <div class="form-group">
            <div class="text-center">
              <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-success">Send Message</button>
            </div>
          </div>
        </div>

      </form>
      <div id='message'>
        <script id="message-template" type="text/x-handlebars-template">
          {{#each messages}}
          <div class='row'>
            <div class="col-md-9 col-xs-12">
              <ul class="list-group">
                <li class="list-group-item">
                  <h4 class='inline-header'>Name:</h4>
                  <span class='sender-name'>{{user}}</span>
                </li>
                <li class="list-group-item">
                  <h4 class='inline-header'>From:</h4>
                  <span class='from'>{{from}}</span>
                </li>
                <li class="list-group-item">
                  <h4 class='inline-header'>To:</h4>
                  <span class='recipients-name'>{{[recipients.name]}}</span>
                </li>
                <li class="list-group-item">
                  <h4 class='inline-header'>Text:</h4>
                  <span class='bodyText'>{{bodyText}}</span>
                </li>
              </ul>
            </div>
          </div>
          {{/each}}
        </script>
      </div>
    </section>
  </body>
</html>
